#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 666px;
  z-index: 100;

  background-color: rgba(227, 229, 231, 1);
  border-radius: 3px;
}

#app .container-view {
  padding: 20px;
}

button {
  all: unset; /* Resets all inherited and default properties */
  display: inline-block; /* Ensure the button behaves as a block-level element */
  cursor: pointer; /* Restore the pointer cursor */
}