@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:wght@400;500;700&display=swap');

html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: "Montserrat", serif;
  line-height: 1;
}
